body{
    margin:0;
    font-family:Arial,sans-serif;
    background:white;
    color:black;
}

.home-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    min-height:80vh;
    margin-top:-50px;
}

.left{
    width:45%;
}

.right{
    width:35%;
    text-align:center;
}

.profile-pic{
    width:260px;
    height:260px;
    border-radius:50%;
    border:3px solid black;
    object-fit:cover;
}

.resume-container{
    width:80%;
    margin:auto;
    padding:20px;
}

section{
    border:1px solid black;
    margin:15px 0;
    padding:15px;
    border-radius:8px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 24px;
    border:1px solid black;
    text-decoration:none;
    color:black;
    border-radius:5px;
    font-weight:bold;
}

.btn:hover{
    background:black;
    color:white;
}

h1{
    margin-bottom:10px;
}

h2{
    margin-top:20px;
}